* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Space Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

:root {
    font-size: 10px;
}

html {
    height: 100dvh;
}

body {
    background-color: #000000;
    color: #ffffff;
    color-scheme: dark;
    mix-blend-mode: difference;
    height: 100%;

    transition: 1s background-color ease;
}

main {
    position: relative;
    height: 100%;
    padding: 16px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;

    background-image: url('../assets/bg-overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & h1 {
        font-size: 5rem;
        line-height: 0.9;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        z-index: 2;
    }
    
    & h2 {
        font-size: 2.4rem;
        font-weight: 400;
    }
}

header {
    width: 100%;
    padding: 0 8%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    gap: 64px;


    #settingsGear_B{
        cursor: pointer;
        z-index: 2;
    }
    #clock{
        cursor: pointer;
        z-index: 2;
        font-size: 2.8rem;
    }
    
}

.settings {
    background-color: rgba(5, 0, 0, 0.355);
    backdrop-filter: blur(4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;

    .top-but-cont {
        outline: 2px solid rgba(255, 255, 255, 0.619);
        backdrop-filter: blur(4px);
        width: 450px;
        padding: 18px 32px 22px 32px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 16px;
        background-color: #1a1a1ac8;

        .settings-label {
            font-size: 3rem;
            color: #b5b5b5;

            display: flex;
            gap: 12px;
        }

        & h3 {
            font-size: 2.2rem;
            font-weight: 400;
            margin-bottom: 8px;
        }

        .settings-duration {
            width: 100%;

            .range {
                padding: 6px !important;
            }

            .container_I {
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 8px;
                font-size: 2rem;
                
                input[type=range] {
                    -webkit-appearance: none;
                    -o-appearance: none;
                    appearance: none;
                    -moz-appearance: none;
                    -ms-appearance: none;
                    background-color: rgba(255, 255, 255, 0) !important;
                    border: 2px solid #fff  !important;
                    
                    border-radius: 42px;
                    
                    width: 75% !important;
                }
                input[type='range']::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    background-color: #231dc5;
                    width: 60px;
                    height: 20px;
                    border-radius: 12px;
                    cursor: pointer;

                    box-shadow: 0 0px 0px 2px #ffffff;
                  }

                & h1 {
                    font-size: 4.8rem;
                    font-weight: 600;
                }

                & label {
                    font-size: 1.8rem;
                    font-weight: 400;
                }

                & input {
                    font-size: 1.8rem;
                    font-weight: 400;
                    background-color: #ffffff1e;
                    border-radius: 12px;
                    padding: 4px 16px;
                }
            }

        }
    }

}

#updateDuration {
    max-height: 54px;
    font-size: 2.8rem;
    padding: 8px 22px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    outline: solid 2px #fff;
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: rgb(57, 120, 207);
    background: linear-gradient(90deg, rgba(57, 120, 207, 1) 0%, rgba(139, 61, 192, 1) 67%, rgba(180, 32, 184, 1) 100%);

    &:hover {
        transition: all 0.2s ease-in-out;
    }

    &:active {
        transform: scale(0.8);
        transition: all 0.1s ease-in-out;
    }
}

.but-container {
    display: flex;
    gap: 16px;
    height: 54px;
    overflow: visible;

}

& button {
    line-height: 1;
    font-size: 2.8rem;
    padding: 8px 22px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 8px;
    transition: all 0.15s ease-in-out;
    outline: solid 2px rgba(240, 248, 255, 0.2);
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    &:hover {
        background-color: rgba(240, 248, 255, 0.2);
        transform: translateY(-4px);
        transition: all 0.2s ease-in-out;
    }

    &:active {
        transform: scale(0.8);
        transition: all 0.1s ease-in-out;
        outline: solid 4px rgba(255, 255, 255, 0.4);
    }

    &:disabled {
        opacity: 0.6;
        pointer-events: none;
        transform: scale(0.9);
        transition: all 0.2s ease-in-out;
    }
}
#timerDisplay {
    mix-blend-mode: hard-light;
    text-align: center;
    font-size: calc(12rem + 15vw);
    font-weight: 700;
    transition: 0.2s all ease;
    line-height: 1;
    overflow: hidden;
    cursor: pointer;

    &:hover {
        transform: scale(0.95);
        transition: 0.2s all ease;

    }

    &:hover~.but-container .hover {
        transform: translateY(-4px);
    }
}


.focus-mode {
    background-color: #fff;
    mix-blend-mode: difference;
    transition: 1s background-color ease-out;
}

.focus-mode * {
    color: #ffffff !important;
    outline-color: rgb(255, 255, 255) !important;
}

.break-mode * {
    color: #fff !important;
    outline-color: #fff !important;
}

.break-mode {
    mix-blend-mode: difference;
    background-color: #0b0b0b;
    transition: 1s background-color ease;
}

#statusMessage {
    font-size: 2.9rem;
    text-align: center;
    animation: fade-in-out 3s ease-in-out;


    @keyframes fade-in-out {
        0% {
            opacity: 0;
        }

        10% {
            opacity: 1;
        }

        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }
}

.open {
    opacity: 1;
    transition: opacity 0.2s ease;
    pointer-events: all;
}

/* add a media query for devices smaller than 1024 of width */
@media (max-width: 1024px) {

    main {
        & h1 {
            font-size: 3.2rem;
            width: fit-content;
        }

        & h2 {
            display: none;
        }
    }

    #timerDisplay {
        font-size: calc(6rem + 18vw);
    }

    header {
        padding: 0 9%;
        flex-direction: column;
        align-items: start;
        height: auto;
        gap: 16px;

        .top-but-cont {
            gap: 8px;
            width: 100%;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }

    #updateDuration {
        font-size: 18px;
    }

    .but-container {
        gap: 8px;
        height: 40px;

        & button {
            font-size: 1.8rem;
            font-weight: bold;

            padding: 0px 28px;
        }
    }

    .focus-container,
    .break-container {

        & h1 {
            font-size: 1.6rem;
        }

        & input {
            font-size: 1.6rem;
            width: 40px;
            padding: 4px 8px;
        }

        & button {
            font-size: 1.6rem;
            width: 100%;
        }

        & label {
            font-size: 1.6rem;
        }
    }

}