@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

:root{
    font-size:10px;
}
html{
    height: 100dvh;
}
body{
    background-color: #000000;
    color: #ffffff;
    color-scheme: dark;
    mix-blend-mode: difference;

    height: 100%;

    transition: 1s background-color ease;
}
main{
    height: 100%;
    padding: 16px 0;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    

    background-image: url('../assets/bg-overlay.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    & h1{
        width: 120px;
        font-size: 5rem;
        line-height: 0.9;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    & h2{
        font-size: 2.4rem;
        font-weight: 400;
    }
}
header{
    width: 100%;
    padding: 0 8%;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    z-index:2;
    .top-but-cont{
        display: flex;
        gap: 16px;
    }
}
#timerDisplay{
    mix-blend-mode: hard-light;
    width: 100%;
    text-align: center;
    font-size: calc(24rem + 15vw);
    font-weight: 600;
    transition: 0.2s all ease;
    line-height: 0.8;
    z-index:1;
}
.but-container{
    display: flex;
    gap: 16px;
    height: 54px;
    overflow: visible;
    & button{
        line-height: 1;
        font-size: 2.8rem;
        padding: 8px 28px;
        background-color: rgba(240, 248, 255, 0);
        outline: solid 2px rgba(240, 248, 255, 0.2);
        border-radius: 999px;
        transition: all 0.15s ease-in-out;
        &:hover{
            background-color: rgba(240, 248, 255, 0.2);
            transform: translateY(-4px);
            transition: all 0.2s ease-in-out;
        }
        &:active{
            transform: scale(0.8);
            transition: all 0.1s ease-in-out;
            outline: solid 4px rgba(255, 255, 255, 0.4);
        }
        &:disabled{
            opacity: 0.6;
            pointer-events: none;
            transform: scale(0.9);
            transition: all 0.2s ease-in-out;
        }
    }
}
.focus-container, .break-container{
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    & h1{
        font-size: 4.8rem;
        font-weight: 600;
    }
    & label{
        font-size: 2.4rem;
        font-weight: 400;
    }
    & input{
        font-size: 2.4rem;
        font-weight: 400;
        background-color: #ffffff1e;
        border-radius: 999px;
        max-width: 80px;
        padding:4px 16px;
    }
}


#updateDuration{
    font-size: 2.8rem;
    padding: 4px 12px;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 999px;
    outline: solid 2px rgba(240, 248, 255, 0.2);
    transition: all 0.15s ease-in-out;
    &:hover{
        background-color: rgba(255, 255, 255, 0.218);
        transform: translateY(-4px);
        transition: all 0.2s ease-in-out;
    }
    &:active{
        transform: scale(0.8);
        transition: all 0.1s ease-in-out;
        outline: solid 3px rgba(255, 255, 255, 0.4);
    }
}
.focus-mode {
    background-color: #fff;
    mix-blend-mode: difference;
    transition: 1s background-color ease-out;
}
.focus-mode *{
    color: #ffffff !important;
    outline-color: rgb(255, 255, 255) !important;
}

.break-mode *{
    color: #fff !important;
    outline-color: #fff !important;
}
.break-mode{
    mix-blend-mode: luminosity;
    background-color: #292929;
    transition: 1s background-color ease;
}
#statusMessage{
    font-size: 2.9rem;
}
/* add a media query for devices smaller than 1024 of width */
@media (max-width: 1024px) {
    
    main{
        & h1{
            font-size: 3.2rem;
            width: fit-content;
        }
        & h2{
            display: none;
        }
    }
    #timerDisplay{
        font-size: calc(6rem + 18vw);
    }
    header{
        padding: 0 9%;
        flex-direction: column;
        align-items: start ;
        height: auto;
        gap:16px;
        .top-but-cont{
            gap: 8px;
            width: 100%;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
    }
    #updateDuration{
        font-size: 18px;
    }
    .but-container{
        gap: 8px;
        height: 40px;
        & button{
            font-size: 1.8rem;
            font-weight: bold;
            
            padding:0px 28px;
        }
    }
    .focus-container, .break-container{
        
        & h1{
            font-size: 1.6rem;
        }
        & input{
            font-size: 1.6rem;
            width: 40px;
            padding: 4px 8px;
        }
        & button{
            font-size: 1.6rem;
            width: 100%;
        }
        & label{
            font-size: 1.6rem;
        }
    }
   
}
